body{
  font-family: sans-serif;


}

.headerMain{
  margin-bottom: 75px;
  background: no-repeat center center;
  background-size: cover;
  background-image: url('../images/business.jpg');
}

.headingText{
  color:black;
  padding: 75px 0;

}

.headerMainServices{
  padding: 150px;
  margin-bottom: 50px;
  background: no-repeat center center;
  background-size: cover;
  background-image: url('../images/startup.jpg');
}

.headingTextServices{
 top: -55px;
 left: 200px;
}
